.noteCard {
  margin-top: 100px;
  width: 360px;
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  top: 50px;
  right: 500px;
  margin-left: 40px;
  padding: 0px 10px;
  border-radius: 16px;
  color: white;
  /* background: linear-gradient(to top right, #283c86, #45a247); */
  background-color: rgba(17, 24, 39, 1);
  /* background-color: white; */
  animation: slide 2000ms ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.text {
  font-size: 18px;
  /* color: rgb(184, 131, 131); */
  text-align: center;
}

@keyframes slide {
  0% {
    opacity: 0.5;
    transform: translatey(-50px);
  }
  40% {
    opacity: 1;
    transform: translatey(0);
  }
  80% {
    opacity: 1;
    transform: translatey(0);
  }
  100% {
    opacity: 0;
    transform: translatey(-50px);
  }
}
