.noteCard {
  margin-top: 100px;
  width: 300px;
  height: 100px;
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  background-color: rgb(220, 217, 26);
  animation: slide 4000ms ease;
}

@keyframes slide {
  0% {
    opacity: 0.5;
    transform: translatex(500px);
  }
  40% {
    opacity: 1;
    transform: translatex(0);
  }
  80% {
    opacity: 1;
    transform: translatex(0);
  }
  100% {
    opacity: 0;
    transform: translatex(500px);
  }
}
